@using OrderingApp.Components.Pages.Order;


    <h3 style="padding-left:1.5vw; padding-top:1vh;">Welcome in OrderApp</h3>

    <h5 style="padding-left:2vw; padding-top:1.5vh;">Here you have several actions</h5>


<FluentTabs style="padding-left:3vw; padding-top:2.5vh;" ActiveTabId="@activeTabId">
    <FluentTab Id="tab-1" @onclick="@(() => OnTabChanged("tab-1"))">
            <Header>
                Order
            </Header>
            <Content>
                <OrderNav />
            </Content>
        </FluentTab>
    <FluentTab Id="tab-2" @onclick="@(() => OnTabChanged("tab-2"))">
            <Header>
                Restaurant
            </Header>
            <Content>
                Content 1
            </Content>
        </FluentTab>
    </FluentTabs>

    @code{
    private string activeTabId = "tab-1";



    private void OnTabChanged(string tabId)

    {

        if (!string.IsNullOrEmpty(tabId))

        {

            activeTabId = tabId;

            StateHasChanged();

        }

    }
    }