@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject TeamsUserCredential teamsUserCredential
@inject IWebHostEnvironment HostEnvironment
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager

@if (isLoading)

{
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
        <FluentProgressRing />
    </div>
}

else

{
    <div class="heading">

        <h3 style="padding-left:4vw; padding-top:3vh;">Welcome in OrderApp</h3>

        <div style="padding-left:6vw; padding-top:3vh;">
            <h5>Here you have several actions</h5>

            <div class="actions">
                <ul style="padding-left: 2vw;">
                    <li>Create New Order List</li>
                    <li>Check Current Order Lists</li>
                    <li>Check Avaliable Restaurants</li>
                </ul>
            </div>
        </div>

    </div>
}

@code {
    string userName;

    string errorMessage;

    bool isLoading = true;



    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        await base.OnAfterRenderAsync(firstRender);

        try

        {

            if (firstRender)

            {

                var user = await teamsUserCredential.GetUserInfoAsync();

                userName = user.DisplayName;

            }

        }

        finally

        {

            isLoading = false;

            StateHasChanged();

        }

    }



    private string GetEnvironmentName()

    {

        return HostEnvironment.IsDevelopment() ? "local environment" : "Azure environment";

    }
}