@page "/Orders"
@using MediatR
@using OrderingApp.Logic.DTO
@using OrderingApp.Logic.Functions.Query.Order
@inject IMediator _mediator

<div style="padding-left:1.5vw; padding-top:1vh;">

    <h3>Orders</h3>

    <ul>
        @if (OrderDetails != null && OrderDetails.Any())
        {
            @foreach (var x in OrderDetails)
            {
                <li>@x.Name</li>
            }
        }
    </ul>

</div>

@code {
    public IQueryable<OrderDetails> OrderDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var orders = await _mediator.Send(new GetAllActiveOrdersQuery());
        OrderDetails = orders.AsQueryable();
    }
}
